<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<label></label>-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewandupdateprofile">View and Update profile </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="chatbot">Chatbot</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="diseaseprediction">Disease Prediction </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewexpert">View Expert</a></th>-->
    <!--</tr>-->


      <!--<th scope="row"><a href="viewhomeremedies">View Home Remedies</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="sendcomplaintandviewreply">Send Complaints and View Reply</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="sendrating">Send Rating </a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/">Logout</a></th>-->
      <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}
