{% extends 'userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th scope="row">Suggestions</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['Suggestions']}}<label></label></th>
      <th scope="row">{{i['Description']}}&nbsp;</th>
      <th scope="row">{{i['Date']}}</th>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
