{% extends 'userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="updateprofile">
  <table class="table table-striped">
    <tr>
      <th width="152" scope="row">First Name </th>
      <td width="175"><label>
        <input type="text" name="textfield" value="{{val['Fname']}}" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last Name </th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['Lname']}}" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label>
                <input type="text" name="textfield8" value="{{val['Phone']}}" class="form-control" required pattern="[6789][0-9]{9}"/>

      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val['Email']}}" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>

    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield6" value="{{val['Place']}}" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
     <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield8" value="{{val['Place']}}" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield7" value="{{val['Pin']}}" class="form-control" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Update" class="btn btn-info"/>
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}