{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="edit_expert">
  <div align="center">
    <table class="table table-striped">
      <tr>
        <th width="201" scope="row"><div align="center">First Name </div></th>
        <td width="156"><label>
          <div align="center">
            <input type="text" name="textfield" value="{{val['Fname']}}" required pattern="[A-Z a-z.]{3,25}"/>
            </div>
        </label></td>
      </tr>
      <tr>
        <th scope="row"><div align="center">Last Name </div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield2" value="{{val['Lname']}}" required pattern="[A-Z a-z.]{3,25}"/>
            </div>
        </label></td>
      </tr>
      <tr>
        <th scope="row"><div align="center">Place</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield3" value="{{val['Place']}}" pattern="[A-Z a-z.]{3,25}"/>
            </div>
        </label></td>
      </tr><tr>
        <th scope="row"><div align="center">Post</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield31" value="{{val['Post']}}" pattern="[A-Z a-z.]{3,25}"/>
            </div>
        </label></td>
      </tr><tr>
        <th scope="row"><div align="center">Pin</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield32" value="{{val['Pin']}}" required pattern="[0-9]{6}"/>
            </div>
        </label></td>
      </tr>
      <tr>
        <th scope="row"><div align="center">Email</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield4" value="{{val['Email']}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
            </div>
        </label></td>
      </tr>
      <tr>
        <th scope="row"><div align="center">Phone</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield5" value="{{val['Phone']}}" required pattern="[6789][0-9]{9}"/>
            </div>
        </label></td>
      </tr>
<tr>
        <th scope="row"><div align="center">Area</div></th>
        <td><label>
          <div align="center">
            <input type="text" name="textfield8" value="{{val['area']}}" required pattern="[A-Z a-z.]{3,25}"/>
            </div>
        </label></td>
      </tr>
      <tr>
      <tr align="center">
      <td colspan="6">
        <input type="submit" name="Submit" value="Edit" class="btn btn-info"/>
        <label>
        </label>      </th>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
{% endblock %}