<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<!--<body>-->
<!--<form id="form2" name="form2" method="post" action="">-->
  <!--<div align="center">-->
    <!--<table width="200" border="1">-->
      <!--<tr>-->
        <!--<th scope="row"><a href="addandmanageexprt">Add and Manage Expert </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="viewcomplaint">View Complaint and Send Reply </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="blockorunblock">Block or Unblock Expert </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="addandmanagedisease">Add and Manage Disease</a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="addormanagedataset">Add and Manage Dataset</a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="addormanagehomeremedies">Add and Manage Home Remedies </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="viewrating">View Rating</a></th>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<th scope="row"><a href="/">Logout</a></th>-->
      <!--</tr>-->
      <!--</table>-->
  <!--</div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}