{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="sndreply#about">
  <table class="table table-striped">
    <tr>
      <th width="97" scope="row">Reply</th>
      <td width="87"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Send" class="btn btn-info"/>
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
