{% extends 'expertindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="insert_suggestions">
  <table class="table table-striped">
    <tr>
      <th scope="row">Suggestions</th>
      <td><label>
        <input type="text" name="textfield" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label>
        <input type="text" name="textfield2" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Add" class="btn btn-info"/>
      </label></th>
    </tr>
  </table>
  <label></label>
</form>
</body>
</html>
{% endblock %}
